<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1 style="text-align: center;">SAP (People System Administration)</h1>
    <div>

        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for person in persons %}
                <tbody>
                    <tr>
                        <td>{{ person.id }}</td>
                        <td>{{ person.first_name }} {{ person.last_name }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.address }}</td>
                        <td><a href="select_person/{{person.id}}">Select</a></td>
                        <td><a href="update_person/{{person.id}}">Update</a></td>
                        <td><a href="delete_person/{{person.id}}">Delete</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        <h3><a href="add_person">Add new person</a></h3>
    </div>
    <div>
        Total Registers: {{ num_persons }}
    </div>
    <!-- <div>
        {{ msg1 }}
    </div>
    <div>
        {{ msg2 }}
    </div> -->
</body>
</html>